{% extends 'core/layout.html' %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script> 
<input id="next_token" style="display: none;" value="0"></input>

<script>
    $(window).scroll(function() {
        if($(window).scrollTop() + $(window).height() >= $(document).height()){
            //ajax_submit();
        }
    });
    function ajax_submit(ty){
        var query = document.getElementById("query_txt").value;
        var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        var next_token = parseInt(document.getElementById('next_token').value, 10);
        if(ty == '0'){
            document.getElementById('response_').innerHTML = '';
            document.getElementById('response__').innerHTML = '';
            next_token = 0;
        }
        if(query == "") {
            return;
        }
      $.ajax({
        url: '/api/s/',
        type: "post",
        data: {
          '_query': query,
          'csrfmiddlewaretoken': csrf_token,
          'next_batch': next_token
        },
        dataType: 'json', // FIXME;
        success: function (data) {
            next_token += 20;
            document.getElementById('next_token').value = "" + next_token;
            var response = data;//JSON.parse(data);
            if(response.status == 404) {
                document.getElementById('response__').innerHTML = '';
                if(ty == '0'){
                    document.getElementById("response_").innerHTML = "<center>No results found. Check spelling or modify words</center>";
                    //document.getElementById('response_').innerHTML = '';
                }
                return;
            }
            var res = '';//'<h5 class="center-align lighten-3"><a href="' + response.author_channel_url + '" target="blank"><img src="' + response.author_image_url + '" class="circle responsive-img" /><br><span style="font-size:20px;">Comments by</span> ' + response.author_name + '</a></h5>'
            //var res = '<h5 class="center-align lighten-3"><a href="' + response.author_channel_url + '" target="blank"><img src="' + response.author_image_url + '"></img>&nbsp;&nbsp;' + response.author_name + '</a></h5>';
            //res += '<table>';
            var loop_counter = 1;
            // res += '<tr><th>#</th>\
            // <th>Video Title</th>\
            // <th>Video Channel</th>\
            // <th>Comment</th>\
            // <th>Posted at (UTC time)</th></tr>'
            for(comment in response.response){
                var cur = response.response[comment];
                res += '<br>\
                <div>\
                        <div class="row valign-wrapper">\
                            <div class="col s1">\
                                <span class="url-col"><a href="' + cur.author_channel_url + '" target="blank"><center><img src="' + cur.profile_image_url + '" class="responsive-img" /></center></a></span>\
                            </div>\
                            <div class="col s11">\
                                <span style="font-size: 12px;" class="url-col"><b><a href="' + cur.author_channel_url + '">' + cur.author_name+ '</a></b>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/watch?v=' + cur.video_id + '&lc=' + cur.comment_id + '" target="blank" title="' + cur.video_title + '">' + cur.published_at + '</a>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/watch?v=' + cur.video_id + '" target="blank" title="' + cur.video_title + '" >' + cur.video_title + '</a></span><br>\
                                    <span>\
                                        <span class="black-text">\
                                            ' + cur.comment_text.replace("\n", "<br>") + '\
                                        </span>\
                                    </span> \
                                </span>\
                            </div>\
                        </div>\
                </div>\
                <div class="divider"></div>';
                ++loop_counter;              
            }
            // res += '</table>'
            if(next_token == 20){
                document.getElementById('response_').innerHTML = res;
            }
            else{
                document.getElementById('response_').innerHTML += res;
            }
            document.getElementById('response__').innerHTML = '<br><center><input name="query_btn" id="query_btn" type="submit" value="Load more" onclick="ajax_submit(\'1\');"></center>';      
        }
      });
      document.getElementById('response__').innerHTML = '<center><img src="https://cdn.dribbble.com/users/5661/screenshots/2491233/loading-gif-800x600.gif" height=100 width=140></img></center>';      
    }
</script>
<div class="content center">
    <br><br>
    <input name="query_txt" id="query_txt" style="width:600px;text-align:center;" placeholder="Search an youtube user or words in youtube comments" /><br><br>
    <input name="query_btn" id="query_btn" type="submit" value="Search" onclick="ajax_submit('0');"><br><br>
    {% csrf_token %}
</div>
<div id="response_"></div>
<div id="response__"></div>
{% endblock %}