{% load static %}
<html>
<head>
    <title>
        Youtube Comments
    </title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script>
            function _help(){
                //var MyDialog = new MatDialog();
                //MyDialog.alert('Hey I am Alert');
            }
        </script>
        <style>
                .url-col a{
                    color: #11111199;
                }
            </style>   
</head>
<body>
    <nav>
        <div class="nav-wrapper" style="background-color: #73b6e6;">
            <!-- <span class="brand-logo">Youtube Comments</span> -->
            <span>
                <b>&nbsp;&nbsp;Youtube Comments Search</b>
            </span>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/api">API</a></li>                    
                <li><a href="#" onclick="_help();">About</a></li>
                <!-- <li><a href="/video">Extract comments in a video</a></li> -->
            </ul>
        </div>
    </nav>
<header class="container center-align">
</header>

<div>
    {% block content %}
    
    {% endblock %}
    <br>
</div>    

</body>

</html>