{% extends 'core/layout.html' %}
{% block content %}
{% if status == 404%}
<br>
<br>
<h6 class="center-align">Results not found. Please try again with another word.</h6>
{% elif status == 407%}
<br>
<br>
<h6 class="center-align">Search a word in all the youtube comments</h6>
{% else %}
<!--table class="highlight">
    <thead>
        <tr>
            <th>#</th>
            <th>Author</th>
            <th>Video Title</th>
            <th>Video Channel</th>
            <th>Comment</th>
            <th>Posted at (UTC time)</th>
        </tr>
    </thead>
    <tbody-->
        <h6 class="center-align">Showing results for {{search_term}}</h6>
        <br><br>
    {% for comment in comments %}
    <div>
            <div class="row valign-wrapper">
                <div class="col s1">
                    <span class="url-col"><a href="{{comment.author_channel_url}}"><center><img src="{{comment.profile_image_url}}" class="responsive-img" /></center></a></span>
                </div>
                <div class="col s11">
                    <span style="font-size: 12px;" class="url-col"><b><a href="{{comment.author_channel_url}}" target="blank">{{comment.author_name}}</a></b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<b><a href="https://www.youtube.com/watch?v={{comment.video_id}}&lc={{comment.comment_id}}" target="blank" title="{{comment.video_title}}">{{comment.published_at}}</a></b> &nbsp; &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <b><a href="https://www.youtube.com/watch?v={{comment.video_id}}" target="blank" title="{{comment.video_title}}" >{{comment.video_title}}</a></b></span><br>
                        <span>
                            <span class="black-text">
                                {{comment.comment_text|linebreaks}}
                            </span>
                        </span> 
                    </span>
                </div>
            </div>
    </div>
    <div class="divider"></div>';
    {% endfor %}
    <!-- /tbody-->    
</ul>
{% endif %}
{% endblock %}