{% extends 'core/layout.html' %}
{% block content %}
{% if status == 404%}
<br>
<br>
<h6 class="center-align">User not found. Please check the url or try other user.</h6>
{% else %}
<!-- <h5 class="center-align lighten-3"><a href="{{author_channel_url}}" target="blank"><img src="{{profile_image_url}}"></img>&nbsp;&nbsp;{{author_name}}</a></h5> -->
<style>
        .url-col a{
            color: #11111199;
        }
    </style>    
<h5 class="center-align lighten-3"><a href="{{author_channel_url}}" target="blank"><img src="{{profile_image_url}}" class="circle responsive-img" /><br>Comments by {{author_name}}</a></h5>
<!--table class="highlight">
    <thead>
        <tr>
            <th>#</th>
            <th>Video Title</th>
            <th>Video Channel</th>
            <th>Comment</th>
            <th>Posted at (UTC time)</th>
        </tr>
    </thead>
    <tbody-->
    {% for comment in comments %}
    <div >
        <div >
          <div class="row valign-wrapper">
                <!-- div class="col s2">
                        <a href="{{comment.author_channel_url}}"><img src="{{comment.profile_image_url}}" class="circle responsive-img"></img></a>
                </div-->
                <div class="col s12">
                    <span style="font-size: 12px;" class="url-col"><a href="https://www.youtube.com/watch?v={{comment.video_id}}&lc={{comment.comment_id}}" target="blank" >{{comment.published_at}}</a> on this <a href="https://www.youtube.com/watch?v={{comment.video_id}}" target="blank" title="{{comment.video_title}}" >video</a></span>
                    <span>
                        <span class="black-text">
                            {{comment.comment_text|linebreaks}}
                        </span>
                    </span>                
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
        <!-- tr>
            <td>{{forloop.counter}}</td-->
            <!-- <td><a href="https://www.youtube.com/watch?v={{comment.video_id}}">{{comment.video_title}}</a></td> -->
            <!-- <td><a href="{{comment.source_channel_url}}">{{comment.source_channel_title}}</a></td> -->
            <!-- td>{{comment.comment_text|linebreaks}}</td>
            <<td><a href="https://www.youtube.com/watch?v={{comment.video_id}}&lc={{comment.comment_id}}" target="blank">{{comment.published_at}}</a></td> -->
        <!-- /tr-->
    {% endfor %}
    <!--/tbody-->    
</ul>
{% endif %}
{% endblock %}